@{
    ViewData["Title"] = "Anasayfa";
}

<div class="text-center">
    <h1 class="display-4">TCMB Güncel Döviz Kurlar</h1>
    <p>Lütfen yukarıda yer alan menüden gitmek istediğiniz sayfayı tıklayınız.</p>
</div>