@{
    ViewData["Title"] = "Anasayfa";
}

<div class="text-center">

    <img src="~/images/resim2.jpeg" class="img-rounded"  height="250"width="600" alt="Responsive image">
 

    <h1 class="display-4">TCMB Güncel Döviz Kurlar</h1>
    <br />
    <p>Lütfen yukarıda yer alan menüden gitmek istediğiniz sayfayı tıklayınız.</p>
</div>
